.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  & svg:hover,
  & svg:focus {
    color: var(--blue-color);
    transition: var(--transition);
  }
  &__envelope {
    height: 15px;
    width: 16px;
    color: var(--gray-color);
  }
  &__smartphone {
    height: 16px;
    width: 10px;
    color: var(--gray-color);
  }
  &__item {
    display: flex;
    gap: 10px;
    color: var(--gray-color);
    margin: 0px 0px 0px 40px;
    padding: 32px 0px;
  }
}
